@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.25;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  @apply text-3xl font-bold;
}
  